In [3]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
display(student_data.head())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75


        gender — пол;
        race/ethnicity — раса/этническая принадлежность;
        parental level of education — уровень образования родителей;
        lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
        test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
        math score, reading score, writing score — баллы по математике, чтению и письму по стобалльной шкале.

In [4]:
# 9.1
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [11]:
# 9.2
print(student_data.loc[155])

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course           completed
math score                               70
reading score                            89
writing score                            88
Name: 155, dtype: object

In [12]:
# 9.3
print(student_data.count())

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [15]:
# 9.4 & 9.5
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [16]:
# 9.6
print(student_data["math score"].mean())

66.089

In [17]:
# 9.7
print(student_data['race/ethnicity'].mode())

0    group C
dtype: object

In [26]:
# 9.8
mask_read = student_data['test preparation course'] == 'completed'
print(int(student_data[mask_read]['reading score'].mean()))

73

In [27]:
# 9.9
mask_math = student_data['math score'] == 0
print(student_data[mask_math].shape[0])

1

In [33]:
# 9.10
mask_paid = student_data['lunch'] == "free/reduced"
mask_unpaid = student_data['lunch'] == "standard"
print(student_data[mask_paid]['math score'].mean())
print (student_data[mask_unpaid]['math score'].mean())

58.92112676056338
70.03410852713178

In [34]:
# 9.11
student_data["parental level of education"].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [40]:
# 9.12
median_a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(abs(median_a - mean_c))

5.827586206896555